.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
}
.title h2{
    color: #4D4D4D;
    text-align: center;
    font-family: "IM FELL FRENCH CANON SC";
    font-size: 1.6875rem;
    max-width: 100%;
    overflow: hidden;
}

.title .line1,.title .line2{
    background-color: #6C705F;
    width: 3rem;
    height: 2px;
}