.menuX{
  display: none;
}
.element {
  opacity: 1;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.element.visible {
  opacity: 1;
  height: auto;
}

.element.hidden {
  opacity: 0;
}
 .Nav header {
  position: fixed;
  width: 100%;
  margin: -1rem 0 2rem 0;
  background-color: #f8f8f8;
  z-index: 1;
}

.Nav h1 {
  padding: .7rem 0 0 .7rem;
  font-family: "Lily Script One";
  font-size: 1.5625rem;
}

.Nav h1 span {
  margin: .3rem .7rem 0 0;
  float: right;
  color: rgb(108, 112, 95);
}

.Nav ul{
  margin: auto;
  list-style: none;
  background-color: rgba(108, 112, 95, 0.9);
  text-align: center;
  font-size: 2rem;
  font-family: "Katibeh";
  font-weight: 600;
  letter-spacing: 3px;
  padding: 0;  
  box-shadow: 0px 2px 3px 1px gray;
} 

.Nav li{
  padding-top: 12px;
}

.nav-link{
  text-decoration: none;
  color: #f8f8f8;
}

.nav-link:hover{
  color: rgb(39, 37, 37)
}