.Home {
  width: 100%;
}

.Home .hero {
  width: 100%;
  z-index: -1;
}

.Home .hero-text {
  position: absolute;
  top: 6rem;
  left: 30%;
  margin: 0;
  font-size: 1.25rem;
  font-family: "Kameron";
  font-weight: bold;
  text-align: right;
  width: 15rem;
  color: rgba(248, 248, 248, 85%);
}

.Home .cta-link {
  margin: 0.5rem 0 0 4rem;
  display: block;
  font-weight: 900;
  font-family: "inter";
  text-align: center;
  width: 9rem;
  padding: 0.4rem;
  background-color: rgba(84, 88, 66, 76%);
  border-radius: 12px;
  text-decoration: none;
  color: #f8f8f8;
}

.cta-link:hover {
  color: rgb(39, 37, 37);
}

.title{
  margin: .5rem 0 .5rem 0;
}