.card {
    background-color: #fffdfd;
    border: 1px solid rgba(30, 30, 30, 43%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19rem;
    margin: auto auto 2rem auto;
    font-family: "inter";
  }
  .card-img {
    width: 85%;
    margin-top: 1rem;
    border-radius: 5px;
  }
  
  .card-title{
    text-transform: uppercase;
  }
  
  .card-title,.card-description{
    margin: .5rem 0 0 0;
    width: 84%;
  }
  
  .more-link{
    text-decoration: none;
    color: #f8f8f8;
    background-color: rgba(84, 88, 66, 76%);
    border-radius: 15px;
    margin: 2rem 0 1.2rem 0;
    font-weight: bold;
    font-size: 1.25rem;
    padding: .4rem 3rem;
  }